<%# app/views/merge_issues/_merge_link.html.erb %>
<% if issue && User.current.allowed_to?(:merge_issues, issue.project) %>
  <%= form_tag(issue_merge_path(issue), method: :post) do %>
    <hr />
    <label for="merge_destination_<%= issue.id %>"><%= l(:label_merge_issue) %> :</label>
    <%= text_field_tag :destination_issue_id, '',
        id: "merge_destination_#{issue.id}",
        placeholder: '#123',
        size: 8,
        required: true,
        pattern: '[0-9]+',
        tabindex: -1
    %>
    <%= submit_tag l(:button_merge) %>
  <% end %>
<% end %>